* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: Arial, sans-serif;
  background-color: #0a0a0a;
  -webkit-overflow-scrolling: touch;
  touch-action: pan-x pan-y;
}

#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.node-foreign-object {
  overflow: visible !important;
}

.node-foreign-object-div {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.svg-chart-container {
  height: 100% !important;
}

.svg-chart-container g.chart {
  height: 100% !important;
}

@media (max-width: 768px) {
  .headerTitle h1 {
    padding: 0 0 10px 0 !important;
  }
  .canvasDiv {
    overflow: "auto" !important;
    height: 100% !important;
  }
  .login-container {
    width: 280px !important;
    padding: 20px !important;
  }
  .loginHeader h2 {
    font-size: 17px !important;
  }
  .loginHeader img {
    max-width: 120px !important;
  }
}
